
html {
    scroll-behavior: smooth;
    background-color: rgba(137, 137, 137, 0.557);
}

nav {
    height: 75px;
    width: 100%;
    background-color: rgb(124, 10, 2);
    
}

.center a {
    margin-left: 10px;
    border-style: solid;
    color: rgba(255, 255, 255, 0.749);
    border-color: rgba(255, 255, 255, 0.407);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25;
}

.center {
    display: inline-block;
    margin-right: 19%;
    vertical-align: middle;
}

.left {
    display: inline-block;
    margin-right: 18%;
    margin-left: 6%;
    vertical-align: middle;
}

.right {
    display: inline-block;
    vertical-align: middle;
}

.Logo {
    font-size: 35;
    color: rgba(255, 255, 255, 0.749);
}

.intro {
    display: inline-flex;
    padding-bottom: 30px;
}

.intro h1 {
    font-size: 50;
    width: 40%;
    padding-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-top: 220px;
}

.intro img {
    height: 600px;
    width: 700px;
}

.body1 , .body2, .body3{
    padding-bottom: 30px;
}

.body1 h1, .body2 h1, .body3 h1 {
    text-align: center;
    font-size: 50;
}

.body1 p, .body2 p, .body3 p {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 22;
}

.body1 img, .body2 img, .body3 img {
    height: 400;
    width: 100%;
}

.body1 a, .body2 a {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(124, 10, 2);
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.foot_left {
    display: inline-block;
    color: rgba(255, 255, 255, 0.749);
    width: 50%;
    padding-left: 5%;
    vertical-align: top;
    margin-top: 30px;
}
.foot_right {
    color: rgba(255, 255, 255, 0.749);
    display: inline-block;
    margin-left: 22%;
}
.foot_right a {
    color: rgba(255, 255, 255, 0.749);
}